{% extends "base.html" %}

{% block titulo %} Listado de usuarios - MyWallapop {% endblock %}

{% block contenido_principal %}
<h2>Listado de usuarios</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellidos</th>
        </tr>
        <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            {% if usuario.email != "admin@email.com" %}
            <td><input type="checkbox" class="checkbox" name= "checkbox" value = {{ usuario.email }}></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" id="eliminarUsuarios" class="btn btn-primary">Eliminar seleccionados</button>
</div>
{% endblock %}